[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-xdist = "*"
flake8 = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.10"
